* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*header*/
.header{
    background-color: #30cddb;

    box-shadow:
    inset rgba(0,0,0,.6) 0 -3px 8px,
    inset rgba(252,255,255,.7) 0 3px 8px,
    rgba(0,0,0,.8) 0 5px 8px -5px;
}

.header__inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__left{
    display: flex;
}

.header__right{
    align-self: center;
}

.header__logo-tagline{
    align-self: center;
    margin-left: 50px;
}

.header__logo-tagline-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: oblique;
    color:rgb(68, 68, 68);
    font-weight:bolder;
}

.header__bar{
    display: flex;
}

.header__choose-region{
    overflow: hidden;
}



.header__bar-login{
    margin: 0 20px;
}

.header__choose-region-link, .header__bar-login-link, .header__bar-search-link {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.header__choose-region-svg{
    
    stroke-width: 1;
}

.header__info{
    background-color: #444444;
    text-align: center;
}
    .header__info-text{
    color: #dbdbdb	;
    line-height: 30px;
}

/*top-nav*/

.top-nav__inner {
    max-width: 1100px;
    margin: 20px  auto;
    display: flex;
    justify-content: space-between;
}

.top-nav__icon > svg{
    display: block;
    margin: auto;
}

.top-nav__item {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:  #444444;
    
}

.top-nav__label{
    font-weight: bold;
}

.top-nav__underlabel{
    font-size: 12px;
}


/*display none*/
.header__left-menu {
     display: none; 
}





@media (max-width: 700px) {
     /* .header__inner {
        justify-content: center;
    }  */
    /* .header__right{
        width: 100%;
    } */
    /* .header__bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px; 
    } */
    .header__logo-img{
        height: 40px;
    }
    .header__bar-region{
        margin-left: 10px;
    }

    .header__logo-tagline{
        display: none;
    }

    .header__choose-region-svg , .header__bar-login-svg , .header__bar-search-svg{
        height: 20px;
        width: 20px;
    }
    
    .header__left-menu {
        display: block;
        /*align-self: center;*/
        margin-right: 15px;
        padding: 1% 20px 0 20px;
        
        position: relative;
        
        ;
    }

    .header__left-menu-svg{
        margin-top: 30%;
    }
    .header__right {
        right: 0;
    }


    .header__inner {
        padding: 0 ;
        justify-content: space-between;
    }

    .header__left-menu{
        max-width: 100%;
        max-height: 100%;
    }

    .top-nav {
        display: none;
    }

    .header__info{
        height: 4em;
    }
    

    /*drop-menu*/
    .header__drop-menu-lists{
        display: none;
    }
    
    
    /* @media (max-width: 700px) {
         */
      
        .top-nav__item {
            display: flex;
            align-items: center;
            font-size: 12px;
            color: #000;
        }
        
        .top-nav__item {
            margin: 10px 5px;
            border-bottom: 1px solid #000;
            padding-bottom: 5px;
        }
    
        .header__drop-menu-lists{
            position: absolute;
            top: 10px;
            left: 0;
            padding: 95px 0 0 0 ;
            
        }
    
        .top-nav__label{
            margin-left: 5px;
        }
    
        .header__left-menu{
            cursor: pointer;
        }
    
        .header__left-menu:hover ul{
            display: block;
        }
    /* } */
}
@media (max-width: 350px) {
    

    /* .header__choose-region-link, .header__bar-login-link, .header__bar-search-link {
        font-size: 10px;
    } */
}
